*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
body{
    background-color: aliceblue;
    animation: b 6s;
}
@keyframes b{
    0%{
        background-color: rgb(130, 220, 172);
    }
    50%{
        background-color: coral;
    }
    
}
svg path:nth-child(1){
    stroke-dasharray: 190px;
    stroke-dashoffset: 190px;
    animation: a 5s linear forwards ;
    
}
svg path:nth-child(2){
    stroke-dasharray: 240px;
    stroke-dashoffset: 240px;
    animation: a 5s linear forwards;

}
svg path:nth-child(3){
    stroke-dasharray: 310px;
    stroke-dashoffset: 310px;
    animation: a 5s linear forwards;

}
svg path:nth-child(4){
    stroke-dasharray: 410px;
    stroke-dashoffset: 410px;
    animation: a 5s linear forwards;

}
svg path:nth-child(5){
    stroke-dasharray: 310px;
    stroke-dashoffset: 310px;
    animation: a 5s linear forwards;

}
svg path:nth-child(6){
    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
    animation: a 5s linear forwards;

}
@keyframes a{
    0%{
        stroke-dashoffset: 0;

    }
    100%{
        stroke-dashoffset: 100%;
        stroke-dasharray: 0;

    }
}
svg{
    margin-top: 300px;
}
